$primary-color: #bada55; 


// Theme 1
$theme1-primary: #3910a1;
$theme1-secondary: #f27949;

// Theme 2
$theme2-primary: #273F5E;
$theme2-secondary: #FEBEAC;

// Comments
$comment: #888888;

// Constants
$white: #FFFFFF;
$black: #000000;
$light: #e0e0e0;
$dark: #333333;