$primary-color: #bada55; 


// Theme 1
$theme1-primary: #3910a1;
$theme1-secondary: #ff6539;
// $theme1-secondary: darkred;
$background-color_main: #252f3b;
/* $background-color_main: #ff6539; */
$background-color_alt: #1d222c;
// Theme 2
$theme2-primary: #273F5E;
$theme2-secondary: #FEBEAC;

// Comments
$comment: #888888;

// Constants
$white: #FFFFFF;
$black: #000000;
$light: #e0e0e0;
$dark: #333333;