@import url(https://fonts.googleapis.com/css?family=Bitter:700|Roboto|Source+Code+Pro);

$font-roboto: 'Roboto', sans-serif;
$font-bitter: 'Bitter', serif;
$font-sourceCodePro: 'Source Code Pro', monospace;