body{
	background: $theme2-primary;
	background: -webkit-linear-gradient(to bottom, $background-color_main, $background-color_alt);
	background: linear-gradient(to bottom, $background-color_main, $background-color_alt);
	color: $light;
}
// body::before{
// 	content:'';
// 	position: absolute;
// 	width: 100%;
// 	display: block;
// 	height: 20em;
// 	z-index: 10;
// 	// background: $theme2-primary;
// 	background: -webkit-radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
// 	background: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
// 	-webkit-user-select: none;  /* Chrome all / Safari all */
//   -moz-user-select: none;     /* Firefox all */
//   -ms-user-select: none;      /* IE 10+ */
//   user-select: none;          /* Likely future */  
// }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	color: $theme1-secondary;
}
.comment, em{
	color: $comment;
}
a {
	color: #2f2fff;
	padding: 1em;
}
section{
	min-height: 100vh;
}

// section.section1{
// 	background-color: $theme1-primary;
// }
// section.section2{
// 	background-color: $theme2-primary;
// }